.hotels-container {
    padding: 20px;
    background-color: #ffffff;
    min-height: 100vh;
    text-align: center;
  }
  
  .hotels-title {
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .hotel-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
    padding: 20px;
  }
  
  .hotel-card {
    background-color: #fff;
    color:black;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
  }
  
  .hotel-card:hover {
    transform: translateY(-5px);
  }
  
  .hotel-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .hotel-name {
    margin-top: 15px;
    font-size: 22px;
    color: #333;
  }
  
  .hotel-description {
    margin-top: 10px;
    font-size: 16px;
    color: #777;
  }
  
  .hotel-room, .hotel-cost {
    margin-top: 8px;
    font-size: 18px;
    color: #555;
  }
  
  .back-button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  