/* SignUp.css */

.signup-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #f9749c, #f9c8d9);
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
  }
  
  .signup-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-form button {
    padding: 10px;
    background-color: #ff5d8f;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  